$background-color: #DCE0E8;
$light-gray: #F4F5F7;
$shadow-gray: #e4e6ec;

$icon-gray: #ACACAC;
$icon-middle-gray:#999999;
$font-gray: #9D9E9D;
$font-dark: #111212;
$font-light: #ffffff;

$theme-title: #F2F3F5;
$theme-line: #DADADA;
$theme-blue: #2F4ACD;
$theme-light-blue: #385bf8;
$theme-transparent-blue: #F4F5F7;
$theme-orange: #FA882E;
$theme-red:#F93638;
$theme-green: #29A073;
